/* body part */
body {
  margin: 0px;
}

/* header and nevigation part */
.header-nav {
  padding: 0px 60px;
}
.header-text {
  color: red;
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
}

/* Top Section part */
.top-sec {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px 60px 60px;
}
.top-head {
  font-size: 3em;
  color: rgb(0, 0, 0);
  font-family: "Archivo Black", sans-serif;
  margin-top: 80px;
  border-left: 5px double red;
  line-height: 1;
  padding-left: 10px;
}
.top-span {
  color: red;
}
.top-para {
  font-family: "Poppins", sans-serif;
  width: 500px;
  text-align: justify;
  padding-bottom: 20px;
}
.top-button {
  text-decoration: none;
  font-weight: 700;
  background-color: red;
  color: whitesmoke;
  padding: 12px;
  border-radius: 30px;
  transition: background-color 3s;
}
.top-div-sec:hover .top-button {
  background-color: blue;
}
.top-div-button {
  position: relative;
  transition: transform 3s;
}
.top-div-sec:hover .top-div-button {
  transform: translate(350px, 0px);
}

.top-img img {
  border-radius: 40px;
}

/* main section part */
a {
  text-decoration: none;
  color: red;
}
.main-part {
  padding: 30px;
}
.main-sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0%;
  padding: 0px 100px 0px 100px;
}
.main-head {
  font-size: 40px;
  text-align: center;
  color: rgb(0, 38, 73);
  font-family: "Archivo Black", sans-serif;
}
.main-text {
  font-family: "Oswald", sans-serif;
}
.ratings .fas {
  color: rgb(255, 0, 0);
}
.mian-para {
  font-weight: 700;
  font-size: 22px;
}
.main-h3 {
  font-size: 15px;
}
.main-div {
  background-color: rgb(206, 255, 253);
  width: 270px;
  height: 440px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px rgb(126, 96, 121);
}
.main-div img {
  width: 270px;
  border-radius: 5px;
}
.main-last {
  text-align: right;
  padding: 30px 150px;
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
}

/* Create Animation Video */
@keyframes swing {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
.buttom-img {
  display: flex;
  justify-content: space-evenly;
}
.buttom-img img {
  width: 200px;
  margin-right: 20px;
  border-radius: 0px 50px;
  box-shadow: 10px 10px 10px black;
  animation: swing 3s ease-in-out 0s infinite alternate;
}

/* footer section */
footer {
  width: 100%;
  height: 210px;
  background-color: rgb(8, 0, 43);
}
.foot-h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(255, 3, 3);
  padding-top: 30px;
}
.foot-h5 {
  color: rgba(255, 255, 241, 0.788);
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.foot-icon {
  text-align: center;
  margin: 0%;
  color: white;
}
.foot-icon i {
  padding-right: 10px;
}
/* ---------------------
End Navigation Header Main-Section Footer 
-----------------------*/

/* ---------Media Quary-------------- */

/* Mobile Device */

@media only screen and (max-width: 688px) {
  .header-nav {
    padding: 0px 12px;
    margin-left: 5px;
  }
  .header-text {
    font-size: 15px;
  }

  .top-sec {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-div-sec {
    width: 100%;
  }
  .top-para {
    width: 350px;
    font-size: 10px;
    margin-bottom: 0%;
    padding-bottom: 5px;
  }
  .top-head {
    margin: 0px;
    font-size: 20px;
  }
  .top-div-button {
    font-size: 6px;
    padding: 5px;
  }

  .top-button {
    padding: 7px 7px;
  }

  .top-img img {
    width: 272px;
    margin-top: 10px;
  }
  .main-head {
    font-size: 24px;
    margin-top: 0%;
  }

  .main-sec {
    grid-template-columns: repeat(1, 1fr);
    padding: 5px 0px;
  }

  .main-last {
    padding: 0px;
    text-align: center;
  }

  .buttom-img {
    display: grid;
    align-items: center;
  }
  .buttom-img img {
    margin: 5px 0px;
  }

  .foot-h2 {
    font-size: 26px;
    margin: 0px;
  }
  .foot-h5 {
    font-size: 8px;
  }

  .foot-foot {
    height: 160px;
  }
}

/* Tab Device */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .header-text {
    margin-bottom: 0;
  }

  .main-sec {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .buttom-img {
    align-items: center;
    flex-direction: column;
  }

  .top-img img {
    width: 400px;
    padding-right: 20px;
  }
}
